@import url("https://fonts.googleapis.com/css?family=Open+Sans");




        button{
            padding: 20px 50px; /*กำหนดขอ กว้าง ยาว สูง*/
            font-size: 1rem;
            cursor: pointer;
            background: transparent;
            transition: all 1s ease;

        }
        .btn1{
            margin:100px, 200px;
            background: yellowgreen;
           border-radius: 20px;
            color: black;
        }
        .btn2{
            margin:100px, 200px;
            background: orange;
            border-radius: 20px;
            color: black;
        }
        .btn3{
            margin:100px, 200px;
            background: skyblue;
            border-radius: 20px;
            color: black;
        }
        .btn4{
            margin: 50px;
            border-radius: 5px;
            border-color: aquamarine;
            border-bottom-left-radius: 29px;
         
            color: black;
        }
        .btn5{
           padding: 20px;
            border-radius: 15px;
          background-color: red;
            color: black;
        }
        .btn6{
            padding: 20px;
            background: yellowgreen;
           border-radius: 20px;
            color: black;
        }
        .btn1:hover,.btn2:hover,.btn3:hover,.btn5:hover,.btn6:hover{
            transform: translate(-1px ,-20px);
          
        }

        .darkMode{
            border: 2px solid white;
            color: white;
            background-color: black;
            padding: 20px;
            margin: 20px;
        }
        .bkcolor{
            background-color: rgb(200, 234, 238);
        }

      
    
